<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="login" method="post">
        <label for="email">Email: </label><input id="email" type="text" name="email"><br>
        <label for="password">Password: </label><input id="password" type="password" name="password"><br>
        <input id="passwordButton" type="checkbox" onclick="togglePassword()">Show Password<br>
        <input type="submit">
    </form>
</body>

<script>
    function togglePassword() {
        let x = document.getElementById("password");
        if (x.type === "password") {
            x.type = "test";
        } else {
            x.type = "password"
        }
    }
</script>

</html>
